.custom-height{
    height: 100vh;
}


.custombackground{
  background-color:#251740;
}

p {
    padding: 5px;
    text-align: center;
}
.navbar-brand {
    padding-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: white;
    text-decoration: underline;
    padding: 15px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 10px;
}